*{
  padding: 0px;
  margin: 0px;
  font-family:"poppins","sans-serif";
}

.main_box{ 
  background-image: url("photo.jpg");
  height: 100vh;
  background-size: cover;
}

.btn_one{
  color: white;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  line-height: 60px;
  cursor: pointer;
}

.sidebar_menu {
  height: 100vh;
  width: 300px;
  background-color: rgb(250, 253, 255,0.1);
  box-shadow:0px 0px 6px rgb(189, 181, 181);
  position: fixed;
  left: -300px;
  transition: all 0.2s linear;
}

.sidebar_menu .logo {
  position: absolute;
  width: 100%;
  line-height: 60px;
  box-shadow:0px 0px 6px rgb(189, 181, 181,0.6);
  height: 60px;
}

.sidebar_menu .logo a {
  position: absolute;
  color: white;
  left: 50px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.sidebar_menu .btn_two {
  color: grey;
  font-size: 25px;
  position: absolute;
  left: 270px;
  top: 12px;
}

.sidebar_menu .menu {
  position: absolute;
  top: 80px;
  width: 100%;
}

.sidebar_menu .menu li {
  margin-top: 15px;
  padding: 10px 20px 10px 20px;
}

.sidebar_menu .menu i,a {
  color: white;
  font-size: 20px;
  text-decoration: none;

}

.sidebar_menu .menu i {
  padding-right: 8px;
}

.sidebar_menu .social_media {
  position: absolute;
  left: 25%;
  bottom: 30px;
}

.sidebar_menu .social_media i {
  opacity: 0.5;
  padding: 0px 5px;
}

#check {
  display: none;
}

.sidebar_menu .menu li  :hover {
  box-shadow: 0px 0px 4px grey;
}

.btn_one i:hover {
  font-size: 35px;
}

.btn_two i:hover {
  font-size: 32px;
}

.sidebar_menu .social_media i:hover {
  opacity: 1;
  transform:scale(1.2);
}

#check:checked ~ .sidebar_menu {
left: 0;
}
#check:checked ~ .btn_one{
  opacity: 0;
}